
<footer class="app-footer">
   <i> <p>&copy; {{ currentYear }} Mi Aplicación. Todos los derechos reservados.</p></i>
</footer>

<!--
<footer class="footer">
   <div class="container">
       <div class="social-icons">
           <a href="URL_DE_FACEBOOK" target="_blank"><i class="fab fa-facebook-f"></i></a>
           <a href="URL_DE_WHATSAPP" target="_blank"><i class="fab fa-whatsapp"></i></a>
           <a href="URL_DE_TIKTOK" target="_blank"><i class="fab fa-tiktok"></i></a>
           <a href="URL_DE_INSTAGRAM" target="_blank"><i class="fab fa-instagram"></i></a> 
         </div>
         <p>&copy; {{ currentYear }} Todos los derechos reservados.</p>
   </div>
</footer>
-->