<header class="app-header">
    <!--<img src="../../../assets/img/login.png" alt="Avatar" class="avatar"> -->
      <div>
        <img src="../../../assets/img/login.png" alt="Avatar" class="avatar" >
        <span style="color: rgb(255, 255, 255)"><b>BUSKAMI</b></span>
      </div>    
    <div class="header-actions">
        <div class="search-box">
            <input type="text" placeholder="Buscar...">
            <i class="material-icons">search</i>
        </div>

        <!--DESARROLLADO POR MI-->
        <a href="https://www.facebook.com/Saludos.Internautas.56" class="notifications" target="_blank">
            <i class="material-icons">facebook</i>
            <span class="badge">9</span>
        </a>

        <div class="notifications">
            <i class="material-icons">notifications</i>
            <span class="badge">3</span> 
        </div>
        <div class="messages">
            <i class="material-icons">email</i>
            <span class="badge">5</span> 
        </div>
        <div class="user-menu">
            <img src="../../../assets/img/login.png" alt="Avatar" class="avatar">
            <i class="material-icons arrow">arrow_drop_down</i>
            <ul class="submenu">
                <li><a href="#"><i class="material-icons">person</i> Perfil</a></li>
                <li><a href="#"><i class="material-icons">settings</i> Configuración</a></li>
                <li><a href="#" (click)="logOut()" ><i class="material-icons">logout</i>Salir</a></li>
            </ul>
        </div>
    </div>
</header>
